<!DOCTYPE HTML>
<html>
	<head>
		<script src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/assets/bower_components/angular/angular.min.js"></script>
		<script src="/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/assets/bower_components/underscore/underscore-min.js"></script>
		<script src="/assets/app.js"></script>
		<script src="/assets/network-graph-controller.js"></script>
	</head>
	<body data-ng-app="app">
		<h2>asdasd</h2>
		{% block body %}
		{% endblock %}
	</body>
</html>