<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="/assets/css/main.css" />
		<script src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/assets/bower_components/angular/angular.min.js"></script>
		<script src="/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/assets/bower_components/underscore/underscore-min.js"></script>
		<script src="/assets/libs/sigmajs/sigma.min.js"></script>
		<script src="/assets/libs/sigmajs/plugins/sigma.parsers.json.min.js"></script>
		<script src="/assets/js/app.js"></script>
		<script src="/assets/js/global-controller.js"></script>
		<script src="/assets/js/network-graph.js"></script>
	</head>
	<body data-ng-app="app" ng-controller="globalController">
		<h2>asdasd</h2>
		{% block body %}
		{% endblock %}
	</body>
</html>